@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.wrapper {
    padding: 10px 10%;
    border: solid red;
    display: flex;
    flex-direction: column
}

#card-area {
    padding: 50px;
    border: solid rgb(15, 104, 1);
}

.box-area {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border: solid rgb(1, 53, 104);
}

.box {
    width: 30%;
    display: inline-block;
    height: 300px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px (rgb(red, green, blue), 0, 0, 0, 5);
    border: solid rgb(104, 47, 1);
}

img {
    height: 300px;
    width: 218.88;
    transition: 0.5s;
}

.box-img {
    border-radius: 10px;
    display: block;
    transition: tranform 0.5s;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.2);
    height: 0;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: block;
    align-items: center;
    justify-content: center;
    /* flex-direction: coluns; */
    /* padding: 0 100px; */
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    border: solid rgb(104, 1, 70);
}

.overlay h3 {
    font-family: "robotto";
    margin-bottom: 5px;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 900;
    color: #180f4a;

}

.overlay p {}

.overlay a {
    margin-top: 10px;
    color: #f3f3f3;
    text-decoration: none;
    font-size: 14px;
    background: #180f4a;
    border-radius: 50px;
    text-align: center;
    padding: 5px 15px;
}

.box:hover img {
    transform: scale(1.2);
    opacity: 15%;
}

.box:hover .overlay {
    height: 100%;
}