@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    /* box-shadow: border-box; */
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;

}

.navbar {
    /* border: solid pink; */
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-flow: row;
    height: 100px;
    background: #fff;
    justify-content: center;
    align-items: center;
}

.logo h1 {
    font-family: "Lobster", sans-serif;
    color: #180f4a;
    font-size: 34Px;
    margin-left: 10%;
}

.logo {
    flex: 30%;
    /* border: solid red; */
    text-align: center;
}

.menu {
    flex: 70%;
    /* border: solid green; */
    text-align: right;
    padding: 20px;

}

h2 {

    font-weight: 900;
    font-size: 20px;
    color: #180f4a;
}

.menu a {
    color: #180f4a;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
    transition: 0.2s;

}

.menu a:hover {
    color: #ff2978;
    border-top: solid #180f4a;
}

#botao {
    background: #180f4a;
    padding: 10px 25px;
    border-radius: 10px;
    color: white;
    margin-right: 10%;
    transition: 0.3s;
}

#botao:hover {
    border: none;
    background: #ff2978;

}

header {

    background-color: aqua;
}

.hero {
    height: auto;
    display: flex;
    /* background: grey; */
    flex-flow: row;
    justify-content: center;
    align-items: center;

}

.cta {
    margin-left: 10%;
    /* border: solid red; */
    width: 40%;
    padding: 15px;
}

.cta h2 {
    font-weight: 900;
    font-size: 20px;
    color: #180f4a;
    padding: 0;
    margin: 0;
}

div .principal {
    font-size: 60px;

}

div .top-cta {
    letter-spacing: 10px;
}

.img-top {
    margin-right: 10%;
    /* border: solid blue; */
    width: 40%;
    text-align: center;
    max-height: 100%;
}

.btn-top {
    background: #180f4a;
    padding: 10px 25px;
    border-radius: 10px;
    color: white;
    margin-right: 10%;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    transition: 0.3s;
}

.btn-top:hover {
    border: none;
    background: #ff2978;
}

.cta p {
    color: rgb(83, 83, 83);
    text-align: left;
    font-weight: 500;
    margin-bottom: 20px;
}

.paralax1 {
    width: 100%;
    height: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: solid red;
}

section.paralax1:nth-last-of-type(2) {
    background-image: url(/img/backgrond.png);
    margin-top: 70px;
    /* border: solid rgb(121, 5, 153); */
}

section h2 {
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: "Lobster", sans-serif;
    color: #180f4a;
    font-weight: bold;
}

.title2 {
    margin-top: 30px;
}

.divmae {
    /* border: solid red; */
    text-align: center;
}

.servicos {
    /* border: solid green; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;


}

.card {
    display: inline-block;
    /* border: 3px solid #ff2929; */
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.card .textooculto {
    display: none;
}

.card:hover img {
    display: none;
}

.card:hover {
    background: #ff2978;
    color: white;
    transition: 0.4s;
}

.card:hover .aper {
    display: none;
}

.card:hover .textooculto {
    display: block;
}

.carta {
    display: inline-block;
    /* border: 3px solid #ff2929; */
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.carta img {
    /* border: solid red; */
    display: none;
}

.carta:hover img {
    display: flex;
}

.carta:hover .txt1 {
    display: none;
}

footer {
    height: 100px;
    background: #180f4a;
    color: white;
    text-align: center;
    align-items: center;
}

.sobreNos {
    margin: 20px 10px;

}