@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    height: 450px;
    margin-top: 50px;
    /* background: rgb(5, 5, 194); */

}

.cards {
    /* border: solid red; */
    display: flex;
    position: relative;
    height: 300px;
    width: 300px;
    /* background-color: bisque; */
    transition: 0.5s;
}

.cards:hover {
    height: 450px;
}

.cards .img-box {
    position: absolute;
    height: auto;
    width: 300px;
    transition: 0.5s;
}



.cards .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.cards:hover .img-box {
    top: -100px;
    scale: 0.60;
    /* display: none; */

}

.img-box {
    /* border: solid rgb(4, 255, 0); */

}

.cards .content {
    /* border: solid rgb(60, 0, 255); */
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 200px;
    text-align: center;
    overflow: hidden;
    /* aprendi aqui a importancia do hidden em conjunto com a altura da div */
    height: 30%;
}

.cards:hover .content {
    top: 130px;
    height: 250px;
}

/* /////////////////////segundo card//////////////////////////// */
.cards2 {
    /* border: solid red; */
    display: flex;
    position: relative;
    height: 300px;
    width: 300px;
    /* background-color: bisque; */
    transition: 0.5s;
}

.cards2 .img-box2 {
    position: absolute;
    height: auto;
    width: 300px;
    transition: 0.5s;
}

.cards2 .img-box2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.7s;
}

.cards2:hover .img-box2 {
    opacity: 15%;
}

.img-box2 {
    /* border: solid rgb(4, 255, 0); */

}

.cards2 .content2 {
    /* border: solid rgb(60, 0, 255); */
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 200px;
    text-align: center;
    overflow: hidden;
    /* aprendi aqui a importancia do hidden em conjunto com a altura da div */
    height: 30%;
    transition: 0.7;
}

.cards2:hover .content2 {
    top: 10px;
    height: 250px;
}

/* /////////////////////terceiro card//////////////////////////// */

.cards3 {
    /* border: solid red; */
    display: flex;
    position: relative;
    height: 300px;
    width: 300px;
    /* background-color: bisque; */
    transition: 0.5s;
}

.cards3:hover {
    height: 450px;
}

.cards3 .img-box {
    position: absolute;
    height: auto;
    width: 300px;
    transition: 0.5s;
}



.cards3 .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.cards3:hover .img-box {
    top: -100px;
    scale: 0.75;
    /* display: none; */

}

.img-box {
    /* border: solid rgb(4, 255, 0); */

}

.cards3 .content3 {
    /* border: solid rgb(60, 0, 255); */
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 200px;
    text-align: center;
    overflow: hidden;
    /* aprendi aqui a importancia do hidden em conjunto com a altura da div */
    height: 40%;
}

.cards3:hover .content3 {
    top: 130px;
    height: 250px;
}

/* /////////////////////////////////////////////////// */
.conteiner {
    height: 400px;
    /* border: solid 2px red; */
    align-items: center;
    text-align: center;
    justify-content: space-around;


}

.lit-box {
    display: inline-block;
    /* border: solid 2px green; */
    height: 300px;
    width: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.lit-box img {
    height: 300px;
    width: 218.88;
    transition: 0.5s;
}

.lit-img {
    display: block;
    transition: 0.5s;

}

.lit-txt p {
    display: flex;
    font-size: 17px;
}

.lit-txt h5 {
    font-size: 25px;
    margin-bottom: 5px;
}

.lit-txt a {
    text-decoration: none;
    background-color: #ff2978;
    padding: 10px;
    border-radius: 15px;
    color: #fff;
}

.lit-txt {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    height: 0;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.388);

}

.lit-box:hover .lit-img {
    transform: scale(1.2);
    opacity: 15%;
}

.lit-box:hover .lit-txt {
    display: block;
    max-width: 100%;
    height: 100%;
}